div.treeview-container {
    border: 10px dashed green;
    padding: 5px;
    text-align: center;
}

.treeAction {
    display: inline-block;
    background-color: blue;
    width: 10px;
    height: 10px;
    margin-right: 5px;;
}

ul.treeView {
    list-style: none;
    padding-left: 15px;

    ul {
        padding-left: 15px;
    }

    li {
        list-style: none;
    }

}