.tree-view {
  position: relative;
  list-style: none;
  padding-left: 15px;

  width: 40%;

  ul {
    display: block;
    padding-left: 15px;
    }

  li {


    &.tree-item {
      list-style: none;
      padding-bottom: 2px;
      padding-top: 2px;
    
      button {
        border: 0;
        cursor: pointer;
        padding: 0;

        background-color: transparent;

        &:focus {
          outline: none;
        }
      }

      i {
        display: inline-block;
        transition: .05s transform ease-in-out;
        vertical-align: middle;

        &.expanded {
          transform: rotate(90deg);
        }
      }

      a {
        color: #000;
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

$itemHeight: 22px;

%tree-item-before-block {
    position: absolute;
    content: "";
    height: $itemHeight;
    left: 0;
    width: 100%;
   
    z-index: -1;
}


div.tree-item-action-container {

    height: $itemHeight;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    span.treeAction {
        justify-content: flex-start;
        
        background-color: blue;
        width: 10px;
        height: 10px;
        margin-right: 5px;;
    }

    &::before {
        transition: background-color 0.7s; 
        @extend %tree-item-before-block;
    }

    &:hover {
    &::before {
        @extend %tree-item-before-block;
        background-color: rgb(206, 206, 206);
    }
}
}
